<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	
		<bean id="propietario" class="casa.Persona">
		<property name="nombre" value="Eustas"></property>
		<property name="edad" value="33"></property>
		<property name="dni" value="77175542P"></property>
	</bean>
	
	<bean id="direccion" class="casa.Direccion">
		<property name="nombreVia" value="DesVia"></property>
		<property name="tipoVia" value="Calle"></property>
		<property name="cp" value="28012"></property>
	</bean>
	
	<bean id="comedor" class="casa.Habitacion">
		<property name="m2" value="40.2"></property>
		<property name="tipoHabitacion" value="Comedor">
		</property>
	</bean>
	
	<bean id="cocina" class="casa.Habitacion">
		<property name="m2" value="13.5"></property>
		<property name="tipoHabitacion" value="Comedor">
		</property>
	</bean>
	
	<bean id="dormitorio1" class="casa.Habitacion">
		<property name="m2" value="9.9"></property>
		<property name="tipoHabitacion" value="Dormitorio">
		</property>
	</bean>
	
	<bean id="banio1" class="casa.Habitacion">
		<property name="m2" value="10.3"></property>
		<property name="tipoHabitacion" value="Baño">
		</property>
	</bean>
	
	<bean id="dormitorio2" class="casa.Habitacion">
		<property name="m2" value="35.8"></property>
		<property name="tipoHabitacion" value="Dormitorio">
		</property>
	</bean>
	
	<bean id="dormitorio3" class="casa.Habitacion">
		<property name="m2" value="13.5"></property>
		<property name="tipoHabitacion" value="Dormitorio">
		</property>
	</bean>
	
	<bean id="dormitorio4" class="casa.Habitacion">
		<property name="m2" value="20.8"></property>
		<property name="tipoHabitacion" value="Dormitorio">
		</property>
	</bean>
	
	<bean id="persona1" class="casa.Persona">
		<property name="nombre" value="Agallas"></property>
		<property name="edad" value="81"></property>
		<property name="dni" value="11122233L"></property>
	</bean>
	
	<bean id="persona2" class="casa.Persona">
		<property name="nombre" value="Filomena"></property>
		<property name="edad" value="15"></property>
		<property name="dni" value="99955512S"></property>
	</bean>
	
	<bean id="persona3" class="casa.Persona">
		<property name="nombre" value="Agallas"></property>
		<property name="edad" value="60"></property>
		<property name="dni" value="23456789S"></property>
	</bean>
	
	<bean id="persona4" class="casa.Persona">
		<property name="nombre" value="Pipo"></property>
		<property name="edad" value="2"></property>
		<property name="dni" value="9995596Z"></property>
	</bean>
	
	<bean id="listaHabitaciones" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="comedor"/>
				<ref bean="cocina"/>
				<ref bean="banio1"/>
				<ref bean="dormitorio1"/>
				<ref bean="dormitorio2"/>
				<ref bean="dormitorio3"/>
				<ref bean="dormitorio4"/>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="listaPersonas" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="persona1"/>
				<ref bean="persona2"/>
				<ref bean="persona3"/>
				<ref bean="persona4"/>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="casa" class="casa.Casa">
		<property name="propietario" ref="propietario"></property>
		<property name="precio" value="452050.05"></property>
		<property name="direccion" ref="direccion"></property>
		<property name="listaHabitaciones" ref="listaHabitaciones"></property>
		<property name="listaPersonas" ref="listaPersonas"></property>
	</bean>
	           
	

</beans>